* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

/* Banner */

.banner {
  background-image: url("../images/banner/banner3.png");
  background-repeat: no-repeat;
  /* background-position: cover; */
  background-blend-mode: darken;
  background-size: cover;
  height: 100vh;
  text-align: right;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 55px 50px;
}

.banner-content {
  padding: 50px 80px;
}

.banner-title {
  color: white;
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  margin-bottom: 24px;
}

.banner-description {
  color: white;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 32px;
}

.btn-primary {
  width: 160px;
  height: 64px;
  color: #005fac;
  background-color: white;
  font-weight: 600;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

/* Failures of previous year */
.failure {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 85px;
  padding: 120px 50px;
}

.section-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 47px;
  margin-bottom: 24px;
}

.failure-description {
  color: #444343;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  line-height: 35px;
}

.failure i {
  color: #13ba13;
}

/* My Plans */
.plans {
  text-align: center;
  margin: 60px 20%;
}

.plans-container {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 80px;
  margin: 50px 0;
}

.plan {
  padding: 10px;
}

.plans-description {
  font-weight: 500;
  color: #444343;
  font-size: 25px;
  margin-bottom: 15px;
}

.plans .section-title {
  font-size: 30px;
}

/* Positive mindset */
.mindset {
  display: flex;
  justify-content: center;
  margin: 120px 20%;
}

.mindset-container {
  background-image: url("../images/watch.png"), url(../images/gradient1.png),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  column-gap: 10px;
  padding: 15px 25%;
  margin: 3px 0;
}

.mindset-content {
  align-items: center;
  margin-left: -40%;
}

.mindset .banner-title {
  font-size: 35px;
}

.mindset .btn-primary {
  font-weight: 600;
  font-size: 20px;
}
